.logo {
    color: #B9A44C;
}

.link {
    color: gold;
}

.link:hover {
    color: white;
}

.link:active {
    color: gold;
}

.link:focus {
    color: gold;
}

.potion {
    color: #FE9920;
}

.header {
    top: 0;
    z-index: 500;
    position: sticky;
}